.brand {
    font-weight: bold;
    font-size: 20px; }
  
  .site-header {
    font-family:'Railway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    background-color: rgb(0,0,0,0);
  }
  .site-header__end a, .site-header__start a{
    text-decoration: none;
  }

  .site-header__start, a:visited,.site-header__end a:visited, .nav__item a:visited{
    color : #fff
  }
  .site-header__end a:hover,  .nav__item a:hover{
    color : #ff0000
  }
  
  .site-header__wrapper {
    max-width : 80%;
    margin: 0 auto;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 660px) {
      .site-header__wrapper {
        padding-top: 0;
        padding-bottom: 0; }
        .site-header__wrapper > * {
          flex: 1; } }
  @media (min-width: 660px) {
    .site-header__start {
      text-align: center; } }
  
  @media (min-width: 660px) {
    .site-header__middle {
      order: -1; } }
  
  @media (min-width: 660px) {
    .site-header__end {
      display: none;
      display: flex;
      justify-content: flex-end;
      /* Better for LTR/RTL support */ } }
  
  @media (max-width: 659px) {
    .site-header__end {
      padding-right: 4rem; } }
  
  @media (min-width: 660px) {
    .nav__wrapper {
      display: flex; } }
  
  @media (max-width: 659px) {
    .nav__wrapper {
      position: absolute;
      list-style: none;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 1;
      background-color: #111;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
  
  .nav__item:not(:last-child) {
    margin-right: 1.5rem; }
  
  .nav__item a{
    text-decoration: none;
    display: block;
    padding: 1.5rem 1rem; }
    @media (min-width: 660px) {
      .nav__item a {
        padding-left: 0;
        padding-right: 0; } }
  .nav__toggle {
    display: none; }
    @media (max-width: 659px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }


  .nav__item p{
    text-decoration: none;
    display: block;
    color: rgb(162, 162, 162);
    padding: 1.5rem 1rem; }
  @media (min-width: 660px) {
    .nav__item p {
    padding-left: 0;
    padding-right: 0; } }

.nav__item {
    list-style: none;
  }
